*.gem
*.sublime-project
*.sublime-workspace
.DS_Store
.RData
.Rhistory
.Rproj.user
.bundle
.jekyll-metadata
.sass-cache
.sass-cache/
Gemfile.lock
_asset_bundler_cache
_site
_site/
codekit-config.json
example/_site
node_modules
npm-debug.log*
